*{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
$pink: #ED0059;
$blue: #13294B;
$gray: #707070;


.top__header{
    background: $pink;
    padding: 0.5rem 2rem;
}

.as-header{
    .cell{
        margin: 0;
        padding: 0;
        width:100%;
    }
}

.as-footer{
    .cell{
        padding: 0;

    }
    .bottom__header{
        background: #707070;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(medium down) {
            flex-direction: column;
        }
        .copyrights{
            color: #fff;
            font: 500 0.75rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
            @include breakpoint(medium down) {
                text-align: center;
                margin-top: 0.5rem;
            }
        }
    }
}


#intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5rem 7.5rem;
    position: relative;
    div:nth-child(1){
        padding-right: 3rem;
        @include breakpoint(medium down) {
            padding-right: 0;
        }
    }
    @include breakpoint(large down) {
        grid-template-columns: 1fr;
    }
    // Mobile
    @include breakpoint(medium down) {
        padding: 2rem 3.5rem;
    }
}

.section_01{
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    @include breakpoint(medium down) {
        flex-direction: column;
    }
}

.section_02{
    display: flex;
    flex-direction: rows;
    justify-content: space-between;

    @include breakpoint(medium only) {
        margin-top: 0rem;
    }
    @include breakpoint(large only) {
        margin-top: 0rem;
    }
    @include breakpoint(xxlarge only) {
        margin-top: 0;
    }
    div{
        max-width: 50%;
        padding: 0 0.7rem;
        @include breakpoint(medium down) {
            max-width: 100%;
        }
        @include breakpoint(large down) {
            max-width: 100%;
        }
    }
    @include breakpoint(medium down) {
        flex-direction: column;
    }
    @include breakpoint(large down) {
        flex-direction: column;
    }

    .conclusions__content__wrapper{
        padding-top: 0rem;
    }
    
}

.section_03{
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // top: -10rem;
    div{
        max-width: 50%;
        padding: 0 0.5rem;
        @include breakpoint(medium down) {
            max-width: 100%;
        }
    }
    @include breakpoint(medium down) {
        flex-direction: column;
    }
}


#media{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    position: relative;
    // div:nth-child(2){
    //     text-align: left;
    // }
    
    // Mobile
    @include breakpoint(medium down) {
        padding: 2rem 3.5rem;
    }
}


.intro__hero{
    img{
        position: absolute;
        top: 0;
        right: 0;
        
    }
}

h1,h2,h3,h4,h5{
    color: $blue;
}

.description__header{
    font: 700 1.3125rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}


h1{
    font: 900 3.75rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    @include breakpoint(medium down) {
        font: 900 1.7rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
}

h3{
    font: 900 3.75rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin-top: 2rem;
    @include breakpoint(medium down) {
        font: 900 1.7rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
}

h4{
    font: 900 1.875rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    padding: 0.5rem 0;
    @include breakpoint(medium down) {
        font: 900 1.375rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
}

h5{
    font: 900 1rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    padding: 1.5rem 0;
}

p{
    font: 300 0.9375rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    line-height: 1.3rem;
    color: $gray;
}

.meta__handle{
    display: flex;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
       
    }
    h2{
        font: 700 1.125rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: $blue;
        
    }
    h5{
        font: italic 500 1.125rem/100% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: $blue; 
        padding: 0;
    }
}

#animation{
    // background: #EAEAEA;
    padding-left: 5rem;
    padding-right: 5rem;
    // padding-bottom: 5rem;
    @include breakpoint(medium down) {
        padding: 0;
    }
}


.animation__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    z-index: 99;
    @include breakpoint(medium down) {
      justify-content: center;
    }
    div{
        justify-content: flex-end;
        justify-items: flex-end;
        align-self: flex-end;
        margin: 0 1rem;
        @include breakpoint(medium down) {
            margin: 1.5rem 1rem;
        }
    }
}

.top__navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div{
        // margin: 0 1rem;
    }
}

.tv__heroes{
    width: 50%;
    @include breakpoint(medium down) {
        width: 100%;
    }
    @include breakpoint(large down) {
        width: 100%;
    }
    img{
        position: relative;
        right: -7.5rem;
        margin-top: 0rem !important;
        margin-bottom: 0rem;
        @include breakpoint(medium only) {
            width: 100%;
            right: -3.4rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        @include breakpoint(onesix down) {
            margin-top: 8rem;
        }
    }
}


.news__tv{
    margin: 9rem 0;
    @include breakpoint(medium down) {
        margin: 3rem 0;
    }
}

.five-five-left{
    padding-right: 0.5rem;
}

.five-five-right{
    padding-left: 0.5rem;
}

.conclusions__content__wrapper{
    margin-top: 35vh;
    @include breakpoint(medium down) {
        margin-top: 0;
    }
    @include breakpoint(large down) {
        margin-top: 0;
    }
    @include breakpoint(xxlarge down) {
        margin-top: 0;
    }
}

hr{
    background-image: linear-gradient(to right, red 50%, white 50%);
    background-position: top;
    background-repeat: repeat-x;
    border-color: red;
    border-width: 2px;
    border-style: dashed;
    
}

.gov_img{
    // max-width: unset;
}

#key__takeaways{
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $pink;
    @include breakpoint(medium down) {
        padding: 2rem 3.5rem;
    }
    h4{
        color: #ffffff;
    }
    p{
        color: #ffffff;
    }
}

.take__aways__blobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 4.5rem;
    align-items: flex-start;
    @include breakpoint(medium down) {
        padding-top: 0;
        
        
    }
    div{
        padding: 0 3rem;
        text-align: center;
        @include breakpoint(medium down) {
            padding-top: 1rem;
            padding: 0 0.1rem;
            
        }
    }
    p{
        font: 200 1.25rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        @include breakpoint(medium down) {
            font: 200 0.9rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
            
        }
    }
    @include breakpoint(medium down) {
        display: flex;
        flex-direction: column;
        
    }
}

.contact{
    padding-top: 5rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include breakpoint(medium down) {
        flex-direction: column;
        text-align: center;
        padding: 3rem 3.5rem;
    }

    @include breakpoint(large down) {
        
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }

    h4{
        color: $blue;
    }
    p{
        color: $blue;
        max-width: 50vw;
        @include breakpoint(medium down) {
            padding-top: 1rem;
            max-width: 100vw;
        }
    }
    a{
        font: 900 1rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: $blue;
    }
    div:nth-child(1){
        margin-bottom: 2rem;
        @include breakpoint(medium only) {
            margin-right: 0rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(large only) {
            margin-right: 0rem;
            margin-bottom: 2rem;
        }
    }
}

.contact-home{
    padding-top: 5rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include breakpoint(medium down) {
        flex-direction: column;
        text-align: center;
        padding: 3rem 3.5rem;
    }

    @include breakpoint(large down) {
        
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }

    h4{
        color: $blue;
    }
    p{
        color: $blue;
        max-width: 50vw;
        @include breakpoint(medium down) {
            padding-top: 1rem;
            max-width: 100vw;
        }
    }
    a{
        font: 900 1rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: $blue;
    }
    div:nth-child(1){
        margin-bottom: 2rem;
        @include breakpoint(medium only) {
            margin-right: 0rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(large only) {
            margin-right: 0rem;
            margin-bottom: 2rem;
        }
    }
}

.page-conclusions{
    .contact{
        padding-top: 0;
    }
}

.conclusions_hero{
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint(medium down) {
        position: relative;
        padding: 0;
        left: -57px;
    }
    @include breakpoint(large only) {
        position: relative;
        padding: 0;
        left: -116px;
    }
    img{
        width:100%;
        @include breakpoint(large only) {
            width: 50%;
        }
        @include breakpoint(xxlarge only) {
            width: 100%;
        }
        @include breakpoint(onesix only) {
            width: 90%;
        }
        
    }
}


.anim__holder{
    min-height: 1000px;
    max-width: 2261px;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
    @include breakpoint(large only) {
        min-height: 500px;
    }
    @include breakpoint(medium down) {
        min-height: 220px;
    }
    @include breakpoint(xxlarge down) {
        min-height: 680px;
    }
    @include breakpoint(onesix only) {
        min-height: 840px;
    }

    .full{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .base{
        z-index: 1;
    }
    .meter{
        bottom:unset;
        top: 0;
        right: unset;
        left: unset;
        @include breakpoint(medium down) {
            display: none;
        }
    }
    .social, .sig, .city, .media{
        z-index: 0;
        opacity: 0; 
    }
    .media__dialogue{
        z-index: 2;
    }
    .trigger{
        z-index: 3;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }
}


#trigger_svg{
    // @include breakpoint(fullwidthas down) {
    //     width: 82.9%;
    //     border: 1px solid red;
    // }
}

.intro__hero{
    .home__hero{
        @include breakpoint(onesix down) {
            width: 50%;
        }
        @include breakpoint(large down) {
            width: 0;
        }
        @include breakpoint(medium down) {
            width: 0;
        }
    }
}

.animation__navigation > div > a > img{
    @include breakpoint(medium down) {
        width: 50px;
        height: 50px;
    }
}

.main-nav-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    // border: 1px solid red;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 0rem;
    a{
        font: 900 0.75rem/130% Century Gothic,CenturyGothic,AppleGothic,sans-serif;    
        color: $gray;
    }
    img{
        height: 1px;
        margin: 1rem 0;
        @include breakpoint(medium down) {
            margin: 0.5rem 0;
        }
    }
    @include breakpoint(xxlarge down) {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.section_01_conclusions{
    margin-top: 0;
    position: relative;
    z-index: 99;
    @include breakpoint(medium down) {
        margin-top: 18rem;
    }
    @include breakpoint(large down) {
        margin-top: 28rem;
        
    }
    @include breakpoint(xxlarge down) {
        margin-top: 0rem;
    }

    .top__navigation{
        padding-left: 0;
        @include breakpoint(xxlarge only) {
            padding-left: 40rem;
            
        }
        @include breakpoint(onesix only) {
            padding-left: 40rem;
            
        }
    }
}

.main__nav__home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 7.5rem;
    padding-top: 1rem;
    @include breakpoint(medium down) {
        justify-content: center;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.scrolltop{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 2560px) and (max-width: 2876px) {
    .contact-home{
        padding-top: 22rem;
    }

    .tv__heroes img {
        position: relative;
        right: -48rem;
        margin-top: 0!important;
        margin-bottom: 0;
        width: 50%;
    }

    .conclusions__content__wrapper{
        padding-top: 0rem;
    }
}
